.pieChart__root {
  width: 100%;
  max-width: 321px;
  height: fit-content;
  background-color: #8b0000;
  box-shadow: 2px 3px 3px #c1bcbc;
  padding-bottom: 4%;
  border-radius: 10px;

  .pieChart__data {
    width: 90%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
  }
}
