.pieChart__root {
  // width: 100%;
  min-width: 390px;
  height: fit-content;
  background-color: #ffffff;
  padding-bottom: 4%;
  border-radius: 10px;
  @media (min-width: 0) and (max-width: 768px) {
    max-width: 300px;
  }
  @media (min-width: 768px) and (max-width: 992px) {
    max-width: 100%;
  }

  .pieChart__data {
    width: 90%;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
  }
}
